
<!DOCTYPE html>
<html>
<head>
  <title>Math Calculator</title>
  <link href= "/assets/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <h1 class="title">Math Calculator</h1>
    <form class="calculator-form" method="POST" action="/">
      <div class="form-group">
        <label for="equation">Enter Equation:</label>
        <input type="text" id="equation" name="equation" placeholder="(2x-y)+7" required>
      </div>
     
      <div class="form-group">
        <label for="parameters">Enter Parameters :</label>
        <input type="text" id="parameters" name="parameters" placeholder="x, y" oninput="generateParameterFields()">
      </div>
    
      <!-- Display Parameter fields -->
      <div id="parameterFields" class="form-group">
      </div>

      
    
      <button type="submit" class="calculate-button">Calculate</button>
    </form>

    <!-- error handling while re rendering -->
    <!-- Display the error message if it exists -->
    <% if (typeof error !== 'undefined') { %>
      <div class="error-message"><%= error %></div>
    <% } %>


  
    <h2 class="results-title">Saved Equations</h2>
    <ul class="results-list">
      <% equations.forEach((equation) => { %>
        <li class="result-item">
          <div class="result-equation"><%= equation.equation %></div>
          <div class="result-value"><%= equation.result %></div>
          <form class="remove-form" method="POST" action="/remove">
            <input type="hidden" name="equationId" value="<%= equation.id %>">
            <button type="submit" class="remove-button">Remove</button>
          </form>
        </li>
      <% }) %>
    </ul>
  </div>


  <script>

  
    function generateParameterFields() {
      const parametersInput = document.getElementById('parameters');
      const parameterFields = document.getElementById('parameterFields');
      parameterFields.innerHTML = '';
  
      const parameters = parametersInput.value.split(',').map(param => param.trim());
      parameters.forEach((param) => {
        const label = document.createElement('label');
        label.textContent = `Value of ${param}:`;
  
        const input = document.createElement('input');
        input.type = 'number';
        input.name = param;
        input.required = true;
  
        const br = document.createElement('br');
  
        parameterFields.appendChild(label);
        parameterFields.appendChild(input);
        parameterFields.appendChild(br);
      });
    }
  </script>
  
</body>
</html>

